img{
    width:200px;
}

h1{
    color:Blue;
    font-family: 'Lobster', cursive;
}

P{
    color:Red;
}

ul{
    color:orange;
}

h2 {
    color:green;
}

h3{
    color:yellow;
}

h4{
    color:purple;
}
body {
	background: linear-gradient(to bottom, red , #58c0c7);
}



